$icomoon-font-path: "fonts" !default;

$igap_undo2: "\e967";
$igap_redo2: "\e968";
$igap_forward: "\e969";
$igap_reply: "\e96a";
$igap_home: "\e911";
$igap_home3: "\e912";
$igap_pencil2: "\e913";
$igap_image: "\e914";
$igap_images: "\e915";
$igap_camera2: "\e916";
$igap_music: "\e917";
$igap_play: "\e918";
$igap_film2: "\e919";
$igap_video-camera: "\e91a";
$igap_file-empty: "\e924";
$igap_files-empty: "\e925";
$igap_file-text2: "\e926";
$igap_file-picture: "\e927";
$igap_file-music: "\e928";
$igap_file-play: "\e929";
$igap_file-video: "\e92a";
$igap_file-zip: "\e92b";
$igap_copy: "\e92c";
$igap_paste: "\e92d";
$igap_folder-download: "\e933";
$igap_folder-upload: "\e934";
$igap_bubble: "\e96b";
$igap_bubbles: "\e96c";
$igap_bubbles2: "\e96d";
$igap_enter: "\ea13";
$igap_exit: "\ea14";
$igap_qrcode2: "\e905";
$igap_file-gif: "\e903";
$igap_file-gif2: "\e906";
$igap_quote: "\e907";
$igap_quote2: "\e908";
$igap_camera: "\e909";
$igap_film: "\e90a";
$igap_picture: "\e90b";
$igap_cassette: "\e90c";
$igap_wallet: "\e90d";
$igap_position: "\e90e";
$igap_bookmark: "\e90f";
$igap_zip: "\e910";
$igap_unpin: "\e904";
$igap_channel: "\e900";
$igap_pin: "\e901";
$igap_pinup: "\e902";
$igap_access-point: "\f002";
$igap_access-point-network: "\f003";
$igap_account: "\f004";
$igap_account-alert: "\f005";
$igap_account-box: "\f006";
$igap_account-box-outline: "\f007";
$igap_account-card-details: "\f5d2";
$igap_account-check: "\f008";
$igap_account-circle: "\f009";
$igap_account-convert: "\f00a";
$igap_account-edit: "\f6bb";
$igap_account-key: "\f00b";
$igap_account-location: "\f00c";
$igap_account-minus: "\f00d";
$igap_account-multiple: "\f00e";
$igap_account-multiple-minus: "\f5d3";
$igap_account-multiple-outline: "\f00f";
$igap_account-multiple-plus: "\f010";
$igap_account-network: "\f011";
$igap_account-off: "\f012";
$igap_account-outline: "\f013";
$igap_account-plus: "\f014";
$igap_account-remove: "\f015";
$igap_account-search: "\f016";
$igap_account-settings: "\f630";
$igap_account-settings-variant: "\f631";
$igap_account-star: "\f017";
$igap_account-switch: "\f019";
$igap_adjust: "\f01a";
$igap_air-conditioner: "\f01b";
$igap_airballoon: "\f01c";
$igap_airplane: "\f01d";
$igap_airplane-landing: "\f5d4";
$igap_airplane-off: "\f01e";
$igap_airplane-takeoff: "\f5d5";
$igap_airplay: "\f01f";
$igap_alarm: "\f020";
$igap_alarm-check: "\f021";
$igap_alarm-multiple: "\f022";
$igap_alarm-off: "\f023";
$igap_alarm-plus: "\f024";
$igap_alarm-snooze: "\f68d";
$igap_album: "\f025";
$igap_alert: "\f026";
$igap_alert-box: "\f027";
$igap_alert-circle: "\f028";
$igap_alert-circle-outline: "\f5d6";
$igap_alert-decagram: "\f6bc";
$igap_alert-octagon: "\f029";
$igap_alert-octagram: "\f766";
$igap_alert-outline: "\f02a";
$igap_all-inclusive: "\f6bd";
$igap_alpha: "\f02b";
$igap_alphabetical: "\f02c";
$igap_altimeter: "\f5d7";
$igap_amazon: "\f02d";
$igap_amazon-clouddrive: "\f02e";
$igap_ambulance: "\f02f";
$igap_amplifier: "\f030";
$igap_anchor: "\f031";
$igap_android: "\f032";
$igap_android-debug-bridge: "\f033";
$igap_android-studio: "\f034";
$igap_angular: "\f6b1";
$igap_angularjs: "\f6be";
$igap_animation: "\f5d8";
$igap_apple: "\f035";
$igap_apple-finder: "\f036";
$igap_apple-ios: "\f037";
$igap_apple-keyboard-caps: "\f632";
$igap_apple-keyboard-command: "\f633";
$igap_apple-keyboard-control: "\f634";
$igap_apple-keyboard-option: "\f635";
$igap_apple-keyboard-shift: "\f636";
$igap_apple-mobileme: "\f038";
$igap_apple-safari: "\f039";
$igap_application: "\f614";
$igap_apps: "\f03b";
$igap_archive: "\f03c";
$igap_arrange-bring-forward: "\f03d";
$igap_arrange-bring-to-front: "\f03e";
$igap_arrange-send-backward: "\f03f";
$igap_arrange-send-to-back: "\f040";
$igap_arrow-all: "\f041";
$igap_arrow-bottom-left: "\f042";
$igap_arrow-bottom-right: "\f043";
$igap_arrow-compress: "\f615";
$igap_arrow-compress-all: "\f044";
$igap_arrow-down: "\f045";
$igap_arrow-down-bold: "\f72d";
$igap_arrow-down-bold-box: "\f72e";
$igap_arrow-down-bold-box-outline: "\f72f";
$igap_arrow-down-bold-circle: "\f047";
$igap_arrow-down-bold-circle-outline: "\f048";
$igap_arrow-down-bold-hexagon-outline: "\f049";
$igap_arrow-down-box: "\f6bf";
$igap_arrow-down-drop-circle: "\f04a";
$igap_arrow-down-drop-circle-outline: "\f04b";
$igap_arrow-down-thick: "\f046";
$igap_arrow-expand: "\f616";
$igap_arrow-expand-all: "\f04c";
$igap_arrow-left: "\f04d";
$igap_arrow-left-bold: "\f730";
$igap_arrow-left-bold-box: "\f731";
$igap_arrow-left-bold-box-outline: "\f732";
$igap_arrow-left-bold-circle: "\f04f";
$igap_arrow-left-bold-circle-outline: "\f050";
$igap_arrow-left-bold-hexagon-outline: "\f051";
$igap_arrow-left-box: "\f6c0";
$igap_arrow-left-drop-circle: "\f052";
$igap_arrow-left-drop-circle-outline: "\f053";
$igap_arrow-left-thick: "\f04e";
$igap_arrow-right: "\f054";
$igap_arrow-right-bold: "\f733";
$igap_arrow-right-bold-box: "\f734";
$igap_arrow-right-bold-box-outline: "\f735";
$igap_arrow-right-bold-circle: "\f056";
$igap_arrow-right-bold-circle-outline: "\f057";
$igap_arrow-right-bold-hexagon-outline: "\f058";
$igap_arrow-right-box: "\f6c1";
$igap_arrow-right-drop-circle: "\f059";
$igap_arrow-right-drop-circle-outline: "\f05a";
$igap_arrow-right-thick: "\f055";
$igap_arrow-top-left: "\f05b";
$igap_arrow-top-right: "\f05c";
$igap_arrow-up: "\f05d";
$igap_arrow-up-bold: "\f736";
$igap_arrow-up-bold-box: "\f737";
$igap_arrow-up-bold-box-outline: "\f738";
$igap_arrow-up-bold-circle: "\f05f";
$igap_arrow-up-bold-circle-outline: "\f060";
$igap_arrow-up-bold-hexagon-outline: "\f061";
$igap_arrow-up-box: "\f6c2";
$igap_arrow-up-drop-circle: "\f062";
$igap_arrow-up-drop-circle-outline: "\f063";
$igap_arrow-up-thick: "\f05e";
$igap_assistant: "\f064";
$igap_asterisk: "\f6c3";
$igap_at: "\f065";
$igap_atom: "\f767";
$igap_attachment: "\f066";
$igap_audiobook: "\f067";
$igap_auto-fix: "\f068";
$igap_auto-upload: "\f069";
$igap_autorenew: "\f06a";
$igap_av-timer: "\f06b";
$igap_baby: "\f06c";
$igap_baby-buggy: "\f68e";
$igap_backburger: "\f06d";
$igap_backspace: "\f06e";
$igap_backup-restore: "\f06f";
$igap_bandcamp: "\f674";
$igap_bank: "\f070";
$igap_barcode: "\f071";
$igap_barcode-scan: "\f072";
$igap_barley: "\f073";
$igap_barrel: "\f074";
$igap_basecamp: "\f075";
$igap_basket: "\f076";
$igap_basket-fill: "\f077";
$igap_basket-unfill: "\f078";
$igap_battery: "\f079";
$igap_battery-10: "\f07a";
$igap_battery-20: "\f07b";
$igap_battery-30: "\f07c";
$igap_battery-40: "\f07d";
$igap_battery-50: "\f07e";
$igap_battery-60: "\f07f";
$igap_battery-70: "\f080";
$igap_battery-80: "\f081";
$igap_battery-90: "\f082";
$igap_battery-alert: "\f083";
$igap_battery-charging: "\f084";
$igap_battery-charging-100: "\f085";
$igap_battery-charging-20: "\f086";
$igap_battery-charging-30: "\f087";
$igap_battery-charging-40: "\f088";
$igap_battery-charging-60: "\f089";
$igap_battery-charging-80: "\f08a";
$igap_battery-charging-90: "\f08b";
$igap_battery-minus: "\f08c";
$igap_battery-negative: "\f08d";
$igap_battery-outline: "\f08e";
$igap_battery-plus: "\f08f";
$igap_battery-positive: "\f090";
$igap_battery-unknown: "\f091";
$igap_beach: "\f092";
$igap_beaker: "\f68f";
$igap_beats: "\f097";
$igap_beer: "\f098";
$igap_behance: "\f099";
$igap_bell: "\f09a";
$igap_bell-off: "\f09b";
$igap_bell-outline: "\f09c";
$igap_bell-plus: "\f09d";
$igap_bell-ring: "\f09e";
$igap_bell-ring-outline: "\f09f";
$igap_bell-sleep: "\f0a0";
$igap_beta: "\f0a1";
$igap_bible: "\f0a2";
$igap_bike: "\f0a3";
$igap_bing: "\f0a4";
$igap_binoculars: "\f0a5";
$igap_bio: "\f0a6";
$igap_biohazard: "\f0a7";
$igap_bitbucket: "\f0a8";
$igap_black-mesa: "\f0a9";
$igap_blackberry: "\f0aa";
$igap_blender: "\f0ab";
$igap_blinds: "\f0ac";
$igap_block-helper: "\f0ad";
$igap_blogger: "\f0ae";
$igap_bluetooth: "\f0af";
$igap_bluetooth-audio: "\f0b0";
$igap_bluetooth-connect: "\f0b1";
$igap_bluetooth-off: "\f0b2";
$igap_bluetooth-settings: "\f0b3";
$igap_bluetooth-transfer: "\f0b4";
$igap_blur: "\f0b5";
$igap_blur-linear: "\f0b6";
$igap_blur-off: "\f0b7";
$igap_blur-radial: "\f0b8";
$igap_bomb: "\f690";
$igap_bomb-off: "\f6c4";
$igap_bone: "\f0b9";
$igap_book: "\f0ba";
$igap_book-minus: "\f5d9";
$igap_book-multiple: "\f0bb";
$igap_book-multiple-variant: "\f0bc";
$igap_book-open: "\f0bd";
$igap_book-open-page-variant: "\f5da";
$igap_book-open-variant: "\f0be";
$igap_book-plus: "\f5db";
$igap_book-variant: "\f0bf";
$igap_bookmark2: "\f0c0";
$igap_bookmark-check: "\f0c1";
$igap_bookmark-music: "\f0c2";
$igap_bookmark-outline: "\f0c3";
$igap_bookmark-plus: "\f0c5";
$igap_bookmark-plus-outline: "\f0c4";
$igap_bookmark-remove: "\f0c6";
$igap_boombox: "\f5dc";
$igap_bootstrap: "\f6c5";
$igap_border-all: "\f0c7";
$igap_border-bottom: "\f0c8";
$igap_border-color: "\f0c9";
$igap_border-horizontal: "\f0ca";
$igap_border-inside: "\f0cb";
$igap_border-left: "\f0cc";
$igap_border-none: "\f0cd";
$igap_border-outside: "\f0ce";
$igap_border-right: "\f0cf";
$igap_border-style: "\f0d0";
$igap_border-top: "\f0d1";
$igap_border-vertical: "\f0d2";
$igap_bow-tie: "\f677";
$igap_bowl: "\f617";
$igap_bowling: "\f0d3";
$igap_box: "\f0d4";
$igap_box-cutter: "\f0d5";
$igap_box-shadow: "\f637";
$igap_bridge: "\f618";
$igap_briefcase: "\f0d6";
$igap_briefcase-check: "\f0d7";
$igap_briefcase-download: "\f0d8";
$igap_briefcase-upload: "\f0d9";
$igap_brightness-1: "\f0da";
$igap_brightness-2: "\f0db";
$igap_brightness-3: "\f0dc";
$igap_brightness-4: "\f0dd";
$igap_brightness-5: "\f0de";
$igap_brightness-6: "\f0df";
$igap_brightness-7: "\f0e0";
$igap_brightness-auto: "\f0e1";
$igap_broom: "\f0e2";
$igap_brush: "\f0e3";
$igap_buffer: "\f619";
$igap_bug: "\f0e4";
$igap_bulletin-board: "\f0e5";
$igap_bullhorn: "\f0e6";
$igap_bullseye: "\f5dd";
$igap_burst-mode: "\f5de";
$igap_bus: "\f0e7";
$igap_cached: "\f0e8";
$igap_cake: "\f0e9";
$igap_cake-layered: "\f0ea";
$igap_cake-variant: "\f0eb";
$igap_calculator: "\f0ec";
$igap_calendar: "\f0ed";
$igap_calendar-blank: "\f0ee";
$igap_calendar-check: "\f0ef";
$igap_calendar-clock: "\f0f0";
$igap_calendar-multiple: "\f0f1";
$igap_calendar-multiple-check: "\f0f2";
$igap_calendar-plus: "\f0f3";
$igap_calendar-question: "\f691";
$igap_calendar-range: "\f678";
$igap_calendar-remove: "\f0f4";
$igap_calendar-text: "\f0f5";
$igap_calendar-today: "\f0f6";
$igap_call-made: "\f0f7";
$igap_call-merge: "\f0f8";
$igap_call-missed: "\f0f9";
$igap_call-received: "\f0fa";
$igap_call-split: "\f0fb";
$igap_camcorder: "\f0fc";
$igap_camcorder-box: "\f0fd";
$igap_camcorder-box-off: "\f0fe";
$igap_camcorder-off: "\f0ff";
$igap_camera3: "\f100";
$igap_camera-burst: "\f692";
$igap_camera-enhance: "\f101";
$igap_camera-front: "\f102";
$igap_camera-front-variant: "\f103";
$igap_camera-iris: "\f104";
$igap_camera-off: "\f5df";
$igap_camera-party-mode: "\f105";
$igap_camera-rear: "\f106";
$igap_camera-rear-variant: "\f107";
$igap_camera-switch: "\f108";
$igap_camera-timer: "\f109";
$igap_cancel: "\f739";
$igap_candle: "\f5e2";
$igap_candycane: "\f10a";
$igap_car: "\f10b";
$igap_car-battery: "\f10c";
$igap_car-connected: "\f10d";
$igap_car-wash: "\f10e";
$igap_cards: "\f638";
$igap_cards-outline: "\f639";
$igap_cards-playing-outline: "\f63a";
$igap_cards-variant: "\f6c6";
$igap_carrot: "\f10f";
$igap_cart: "\f110";
$igap_cart-off: "\f66b";
$igap_cart-outline: "\f111";
$igap_cart-plus: "\f112";
$igap_case-sensitive-alt: "\f113";
$igap_cash: "\f114";
$igap_cash-100: "\f115";
$igap_cash-multiple: "\f116";
$igap_cash-usd: "\f117";
$igap_cast: "\f118";
$igap_cast-connected: "\f119";
$igap_cast-off: "\f789";
$igap_castle: "\f11a";
$igap_cat: "\f11b";
$igap_ceiling-light: "\f768";
$igap_cellphone: "\f11c";
$igap_cellphone-android: "\f11d";
$igap_cellphone-basic: "\f11e";
$igap_cellphone-dock: "\f11f";
$igap_cellphone-iphone: "\f120";
$igap_cellphone-link: "\f121";
$igap_cellphone-link-off: "\f122";
$igap_cellphone-settings: "\f123";
$igap_certificate: "\f124";
$igap_chair-school: "\f125";
$igap_chart-arc: "\f126";
$igap_chart-areaspline: "\f127";
$igap_chart-bar: "\f128";
$igap_chart-bar-stacked: "\f769";
$igap_chart-bubble: "\f5e3";
$igap_chart-gantt: "\f66c";
$igap_chart-histogram: "\f129";
$igap_chart-line: "\f12a";
$igap_chart-line-stacked: "\f76a";
$igap_chart-pie: "\f12b";
$igap_chart-scatterplot-hexbin: "\f66d";
$igap_chart-timeline: "\f66e";
$igap_check: "\f12c";
$igap_check-all: "\f12d";
$igap_check-circle: "\f5e0";
$igap_check-circle-outline: "\f5e1";
$igap_checkbox-blank: "\f12e";
$igap_checkbox-blank-circle: "\f12f";
$igap_checkbox-blank-circle-outline: "\f130";
$igap_checkbox-blank-outline: "\f131";
$igap_checkbox-marked: "\f132";
$igap_checkbox-marked-circle: "\f133";
$igap_checkbox-marked-circle-outline: "\f134";
$igap_checkbox-marked-outline: "\f135";
$igap_checkbox-multiple-blank: "\f136";
$igap_checkbox-multiple-blank-circle: "\f63b";
$igap_checkbox-multiple-blank-circle-outline: "\f63c";
$igap_checkbox-multiple-blank-outline: "\f137";
$igap_checkbox-multiple-marked: "\f138";
$igap_checkbox-multiple-marked-circle: "\f63d";
$igap_checkbox-multiple-marked-circle-outline: "\f63e";
$igap_checkbox-multiple-marked-outline: "\f139";
$igap_checkerboard: "\f13a";
$igap_chemical-weapon: "\f13b";
$igap_chevron-double-down: "\f13c";
$igap_chevron-double-left: "\f13d";
$igap_chevron-double-right: "\f13e";
$igap_chevron-double-up: "\f13f";
$igap_chevron-down: "\f140";
$igap_chevron-left: "\f141";
$igap_chevron-right: "\f142";
$igap_chevron-up: "\f143";
$igap_chip: "\f61a";
$igap_church: "\f144";
$igap_circle: "\f764";
$igap_circle-outline: "\f765";
$igap_cisco-webex: "\f145";
$igap_city: "\f146";
$igap_clipboard: "\f147";
$igap_clipboard-account: "\f148";
$igap_clipboard-alert: "\f149";
$igap_clipboard-arrow-down: "\f14a";
$igap_clipboard-arrow-left: "\f14b";
$igap_clipboard-check: "\f14c";
$igap_clipboard-flow: "\f6c7";
$igap_clipboard-outline: "\f14d";
$igap_clipboard-plus: "\f750";
$igap_clipboard-text: "\f14e";
$igap_clippy: "\f14f";
$igap_clock: "\f150";
$igap_clock-alert: "\f5ce";
$igap_clock-end: "\f151";
$igap_clock-fast: "\f152";
$igap_clock-in: "\f153";
$igap_clock-out: "\f154";
$igap_clock-start: "\f155";
$igap_close: "\f156";
$igap_close-box: "\f157";
$igap_close-box-outline: "\f158";
$igap_close-circle: "\f159";
$igap_close-circle-outline: "\f15a";
$igap_close-network: "\f15b";
$igap_close-octagon: "\f15c";
$igap_close-octagon-outline: "\f15d";
$igap_close-outline: "\f6c8";
$igap_closed-caption: "\f15e";
$igap_cloud: "\f15f";
$igap_cloud-check: "\f160";
$igap_cloud-circle: "\f161";
$igap_cloud-download: "\f162";
$igap_cloud-off-outline: "\f164";
$igap_cloud-outline: "\f163";
$igap_cloud-print: "\f165";
$igap_cloud-print-outline: "\f166";
$igap_cloud-sync: "\f63f";
$igap_cloud-upload: "\f167";
$igap_code-array: "\f168";
$igap_code-braces: "\f169";
$igap_code-brackets: "\f16a";
$igap_code-equal: "\f16b";
$igap_code-greater-than: "\f16c";
$igap_code-greater-than-or-equal: "\f16d";
$igap_code-less-than: "\f16e";
$igap_code-less-than-or-equal: "\f16f";
$igap_code-not-equal: "\f170";
$igap_code-not-equal-variant: "\f171";
$igap_code-parentheses: "\f172";
$igap_code-string: "\f173";
$igap_code-tags: "\f174";
$igap_code-tags-check: "\f693";
$igap_codepen: "\f175";
$igap_coffee: "\f176";
$igap_coffee-outline: "\f6c9";
$igap_coffee-to-go: "\f177";
$igap_coin: "\f178";
$igap_coins: "\f694";
$igap_collage: "\f640";
$igap_color-helper: "\f179";
$igap_comment: "\f17a";
$igap_comment-account: "\f17b";
$igap_comment-account-outline: "\f17c";
$igap_comment-alert: "\f17d";
$igap_comment-alert-outline: "\f17e";
$igap_comment-check: "\f17f";
$igap_comment-check-outline: "\f180";
$igap_comment-multiple-outline: "\f181";
$igap_comment-outline: "\f182";
$igap_comment-plus-outline: "\f183";
$igap_comment-processing: "\f184";
$igap_comment-processing-outline: "\f185";
$igap_comment-question-outline: "\f186";
$igap_comment-remove-outline: "\f187";
$igap_comment-text: "\f188";
$igap_comment-text-outline: "\f189";
$igap_compare: "\f18a";
$igap_compass: "\f18b";
$igap_compass-outline: "\f18c";
$igap_console: "\f18d";
$igap_contact-mail: "\f18e";
$igap_contacts: "\f6ca";
$igap_content-copy: "\f18f";
$igap_content-cut: "\f190";
$igap_content-duplicate: "\f191";
$igap_content-paste: "\f192";
$igap_content-save: "\f193";
$igap_content-save-all: "\f194";
$igap_content-save-settings: "\f61b";
$igap_contrast: "\f195";
$igap_contrast-box: "\f196";
$igap_contrast-circle: "\f197";
$igap_cookie: "\f198";
$igap_copyright: "\f5e6";
$igap_counter: "\f199";
$igap_cow: "\f19a";
$igap_creation: "\f1c9";
$igap_credit-card: "\f19b";
$igap_credit-card-multiple: "\f19c";
$igap_credit-card-off: "\f5e4";
$igap_credit-card-plus: "\f675";
$igap_credit-card-scan: "\f19d";
$igap_crop: "\f19e";
$igap_crop-free: "\f19f";
$igap_crop-landscape: "\f1a0";
$igap_crop-portrait: "\f1a1";
$igap_crop-rotate: "\f695";
$igap_crop-square: "\f1a2";
$igap_crosshairs: "\f1a3";
$igap_crosshairs-gps: "\f1a4";
$igap_crown: "\f1a5";
$igap_cube: "\f1a6";
$igap_cube-outline: "\f1a7";
$igap_cube-send: "\f1a8";
$igap_cube-unfolded: "\f1a9";
$igap_cup: "\f1aa";
$igap_cup-off: "\f5e5";
$igap_cup-water: "\f1ab";
$igap_currency-btc: "\f1ac";
$igap_currency-eur: "\f1ad";
$igap_currency-gbp: "\f1ae";
$igap_currency-inr: "\f1af";
$igap_currency-ngn: "\f1b0";
$igap_currency-rub: "\f1b1";
$igap_currency-try: "\f1b2";
$igap_currency-usd: "\f1b3";
$igap_currency-usd-off: "\f679";
$igap_cursor-default: "\f1b4";
$igap_cursor-default-outline: "\f1b5";
$igap_cursor-move: "\f1b6";
$igap_cursor-pointer: "\f1b7";
$igap_cursor-text: "\f5e7";
$igap_database: "\f1b8";
$igap_database-minus: "\f1b9";
$igap_database-plus: "\f1ba";
$igap_debug-step-into: "\f1bb";
$igap_debug-step-out: "\f1bc";
$igap_debug-step-over: "\f1bd";
$igap_decagram: "\f76b";
$igap_decagram-outline: "\f76c";
$igap_decimal-decrease: "\f1be";
$igap_decimal-increase: "\f1bf";
$igap_delete: "\f1c0";
$igap_delete-circle: "\f682";
$igap_delete-empty: "\f6cb";
$igap_delete-forever: "\f5e8";
$igap_delete-sweep: "\f5e9";
$igap_delete-variant: "\f1c1";
$igap_delta: "\f1c2";
$igap_deskphone: "\f1c3";
$igap_desktop-mac: "\f1c4";
$igap_desktop-tower: "\f1c5";
$igap_details: "\f1c6";
$igap_developer-board: "\f696";
$igap_deviantart: "\f1c7";
$igap_dialpad: "\f61c";
$igap_diamond: "\f1c8";
$igap_dice-1: "\f1ca";
$igap_dice-2: "\f1cb";
$igap_dice-3: "\f1cc";
$igap_dice-4: "\f1cd";
$igap_dice-5: "\f1ce";
$igap_dice-6: "\f1cf";
$igap_dice-d10: "\f76e";
$igap_dice-d20: "\f5ea";
$igap_dice-d4: "\f5eb";
$igap_dice-d6: "\f5ec";
$igap_dice-d8: "\f5ed";
$igap_dice-multiple: "\f76d";
$igap_dictionary: "\f61d";
$igap_directions: "\f1d0";
$igap_directions-fork: "\f641";
$igap_discord: "\f66f";
$igap_disk: "\f5ee";
$igap_disk-alert: "\f1d1";
$igap_disqus: "\f1d2";
$igap_disqus-outline: "\f1d3";
$igap_division: "\f1d4";
$igap_division-box: "\f1d5";
$igap_dna: "\f683";
$igap_dns: "\f1d6";
$igap_do-not-disturb: "\f697";
$igap_do-not-disturb-off: "\f698";
$igap_dolby: "\f6b2";
$igap_domain: "\f1d7";
$igap_dots-horizontal: "\f1d8";
$igap_dots-vertical: "\f1d9";
$igap_douban: "\f699";
$igap_download: "\f1da";
$igap_download-network: "\f6f3";
$igap_drag: "\f1db";
$igap_drag-horizontal: "\f1dc";
$igap_drag-vertical: "\f1dd";
$igap_drawing: "\f1de";
$igap_drawing-box: "\f1df";
$igap_dribbble: "\f1e0";
$igap_dribbble-box: "\f1e1";
$igap_drone: "\f1e2";
$igap_dropbox: "\f1e3";
$igap_drupal: "\f1e4";
$igap_duck: "\f1e5";
$igap_dumbbell: "\f1e6";
$igap_earth: "\f1e7";
$igap_earth-box: "\f6cc";
$igap_earth-box-off: "\f6cd";
$igap_earth-off: "\f1e8";
$igap_edge: "\f1e9";
$igap_eject: "\f1ea";
$igap_elevation-decline: "\f1eb";
$igap_elevation-rise: "\f1ec";
$igap_elevator: "\f1ed";
$igap_email: "\f1ee";
$igap_email-alert: "\f6ce";
$igap_email-open: "\f1ef";
$igap_email-open-outline: "\f5ef";
$igap_email-outline: "\f1f0";
$igap_email-secure: "\f1f1";
$igap_email-variant: "\f5f0";
$igap_emby: "\f6b3";
$igap_emoticon: "\f1f2";
$igap_emoticon-cool: "\f1f3";
$igap_emoticon-dead: "\f69a";
$igap_emoticon-devil: "\f1f4";
$igap_emoticon-excited: "\f69b";
$igap_emoticon-happy: "\f1f5";
$igap_emoticon-neutral: "\f1f6";
$igap_emoticon-poop: "\f1f7";
$igap_emoticon-sad: "\f1f8";
$igap_emoticon-tongue: "\f1f9";
$igap_engine: "\f1fa";
$igap_engine-outline: "\f1fb";
$igap_equal: "\f1fc";
$igap_equal-box: "\f1fd";
$igap_eraser: "\f1fe";
$igap_eraser-variant: "\f642";
$igap_escalator: "\f1ff";
$igap_ethernet: "\f200";
$igap_ethernet-cable: "\f201";
$igap_ethernet-cable-off: "\f202";
$igap_etsy: "\f203";
$igap_ev-station: "\f5f1";
$igap_evernote: "\f204";
$igap_exclamation: "\f205";
$igap_exit-to-app: "\f206";
$igap_export: "\f207";
$igap_eye: "\f208";
$igap_eye-off: "\f209";
$igap_eye-off-outline: "\f6d0";
$igap_eye-outline: "\f6cf";
$igap_eyedropper: "\f20a";
$igap_eyedropper-variant: "\f20b";
$igap_face: "\f643";
$igap_face-profile: "\f644";
$igap_facebook: "\f20c";
$igap_facebook-box: "\f20d";
$igap_facebook-messenger: "\f20e";
$igap_factory: "\f20f";
$igap_fan: "\f210";
$igap_fast-forward: "\f211";
$igap_fast-forward-outline: "\f6d1";
$igap_fax: "\f212";
$igap_feather: "\f6d2";
$igap_ferry: "\f213";
$igap_file: "\f214";
$igap_file-account: "\f73a";
$igap_file-chart: "\f215";
$igap_file-check: "\f216";
$igap_file-cloud: "\f217";
$igap_file-delimited: "\f218";
$igap_file-document: "\f219";
$igap_file-document-box: "\f21a";
$igap_file-excel: "\f21b";
$igap_file-excel-box: "\f21c";
$igap_file-export: "\f21d";
$igap_file-find: "\f21e";
$igap_file-hidden: "\f613";
$igap_file-image: "\f21f";
$igap_file-import: "\f220";
$igap_file-lock: "\f221";
$igap_file-multiple: "\f222";
$igap_file-music2: "\f223";
$igap_file-outline: "\f224";
$igap_file-pdf: "\f225";
$igap_file-pdf-box: "\f226";
$igap_file-plus: "\f751";
$igap_file-powerpoint: "\f227";
$igap_file-powerpoint-box: "\f228";
$igap_file-presentation-box: "\f229";
$igap_file-restore: "\f670";
$igap_file-send: "\f22a";
$igap_file-tree: "\f645";
$igap_file-video2: "\f22b";
$igap_file-word: "\f22c";
$igap_file-word-box: "\f22d";
$igap_file-xml: "\f22e";
$igap_film3: "\f22f";
$igap_filmstrip: "\f230";
$igap_filmstrip-off: "\f231";
$igap_filter: "\f232";
$igap_filter-outline: "\f233";
$igap_filter-remove: "\f234";
$igap_filter-remove-outline: "\f235";
$igap_filter-variant: "\f236";
$igap_find-replace: "\f6d3";
$igap_fingerprint: "\f237";
$igap_fire: "\f238";
$igap_firefox: "\f239";
$igap_fish: "\f23a";
$igap_flag: "\f23b";
$igap_flag-checkered: "\f23c";
$igap_flag-outline: "\f23d";
$igap_flag-outline-variant: "\f23e";
$igap_flag-triangle: "\f23f";
$igap_flag-variant: "\f240";
$igap_flash: "\f241";
$igap_flash-auto: "\f242";
$igap_flash-off: "\f243";
$igap_flash-outline: "\f6d4";
$igap_flash-red-eye: "\f67a";
$igap_flashlight: "\f244";
$igap_flashlight-off: "\f245";
$igap_flask: "\f093";
$igap_flask-empty: "\f094";
$igap_flask-empty-outline: "\f095";
$igap_flask-outline: "\f096";
$igap_flattr: "\f246";
$igap_flip-to-back: "\f247";
$igap_flip-to-front: "\f248";
$igap_floppy: "\f249";
$igap_flower: "\f24a";
$igap_folder: "\f24b";
$igap_folder-account: "\f24c";
$igap_folder-download2: "\f24d";
$igap_folder-google-drive: "\f24e";
$igap_folder-image: "\f24f";
$igap_folder-lock: "\f250";
$igap_folder-lock-open: "\f251";
$igap_folder-move: "\f252";
$igap_folder-multiple: "\f253";
$igap_folder-multiple-image: "\f254";
$igap_folder-multiple-outline: "\f255";
$igap_folder-open: "\f76f";
$igap_folder-outline: "\f256";
$igap_folder-plus: "\f257";
$igap_folder-remove: "\f258";
$igap_folder-star: "\f69c";
$igap_folder-upload2: "\f259";
$igap_font-awesome: "\f03a";
$igap_food: "\f25a";
$igap_food-apple: "\f25b";
$igap_food-fork-drink: "\f5f2";
$igap_food-off: "\f5f3";
$igap_food-variant: "\f25c";
$igap_football: "\f25d";
$igap_football-australian: "\f25e";
$igap_football-helmet: "\f25f";
$igap_format-align-bottom: "\f752";
$igap_format-align-center: "\f260";
$igap_format-align-justify: "\f261";
$igap_format-align-left: "\f262";
$igap_format-align-middle: "\f753";
$igap_format-align-right: "\f263";
$igap_format-align-top: "\f754";
$igap_format-annotation-plus: "\f646";
$igap_format-bold: "\f264";
$igap_format-clear: "\f265";
$igap_format-color-fill: "\f266";
$igap_format-color-text: "\f69d";
$igap_format-float-center: "\f267";
$igap_format-float-left: "\f268";
$igap_format-float-none: "\f269";
$igap_format-float-right: "\f26a";
$igap_format-font: "\f6d5";
$igap_format-header-1: "\f26b";
$igap_format-header-2: "\f26c";
$igap_format-header-3: "\f26d";
$igap_format-header-4: "\f26e";
$igap_format-header-5: "\f26f";
$igap_format-header-6: "\f270";
$igap_format-header-decrease: "\f271";
$igap_format-header-equal: "\f272";
$igap_format-header-increase: "\f273";
$igap_format-header-pound: "\f274";
$igap_format-horizontal-align-center: "\f61e";
$igap_format-horizontal-align-left: "\f61f";
$igap_format-horizontal-align-right: "\f620";
$igap_format-indent-decrease: "\f275";
$igap_format-indent-increase: "\f276";
$igap_format-italic: "\f277";
$igap_format-line-spacing: "\f278";
$igap_format-line-style: "\f5c8";
$igap_format-line-weight: "\f5c9";
$igap_format-list-bulleted: "\f279";
$igap_format-list-bulleted-type: "\f27a";
$igap_format-list-checks: "\f755";
$igap_format-list-numbers: "\f27b";
$igap_format-page-break: "\f6d6";
$igap_format-paint: "\f27c";
$igap_format-paragraph: "\f27d";
$igap_format-pilcrow: "\f6d7";
$igap_format-quote-close: "\f27e";
$igap_format-quote-open: "\f756";
$igap_format-rotate-90: "\f6a9";
$igap_format-section: "\f69e";
$igap_format-size: "\f27f";
$igap_format-strikethrough: "\f280";
$igap_format-strikethrough-variant: "\f281";
$igap_format-subscript: "\f282";
$igap_format-superscript: "\f283";
$igap_format-text: "\f284";
$igap_format-textdirection-l-to-r: "\f285";
$igap_format-textdirection-r-to-l: "\f286";
$igap_format-title: "\f5f4";
$igap_format-underline: "\f287";
$igap_format-vertical-align-bottom: "\f621";
$igap_format-vertical-align-center: "\f622";
$igap_format-vertical-align-top: "\f623";
$igap_format-wrap-inline: "\f288";
$igap_format-wrap-square: "\f289";
$igap_format-wrap-tight: "\f28a";
$igap_format-wrap-top-bottom: "\f28b";
$igap_forum: "\f28c";
$igap_forward2: "\f28d";
$igap_foursquare: "\f28e";
$igap_fridge: "\f28f";
$igap_fridge-filled: "\f290";
$igap_fridge-filled-bottom: "\f291";
$igap_fridge-filled-top: "\f292";
$igap_fullscreen: "\f293";
$igap_fullscreen-exit: "\f294";
$igap_function: "\f295";
$igap_gamepad: "\f296";
$igap_gamepad-variant: "\f297";
$igap_garage: "\f6d8";
$igap_garage-open: "\f6d9";
$igap_gas-cylinder: "\f647";
$igap_gas-station: "\f298";
$igap_gate: "\f299";
$igap_gauge: "\f29a";
$igap_gavel: "\f29b";
$igap_gender-female: "\f29c";
$igap_gender-male: "\f29d";
$igap_gender-male-female: "\f29e";
$igap_gender-transgender: "\f29f";
$igap_gesture-double-tap: "\f73b";
$igap_gesture-swipe-down: "\f73c";
$igap_gesture-swipe-left: "\f73d";
$igap_gesture-swipe-right: "\f73e";
$igap_gesture-swipe-up: "\f73f";
$igap_gesture-tap: "\f740";
$igap_gesture-two-double-tap: "\f741";
$igap_gesture-two-tap: "\f742";
$igap_ghost: "\f2a0";
$igap_gift: "\f2a1";
$igap_git: "\f2a2";
$igap_github-box: "\f2a3";
$igap_github-circle: "\f2a4";
$igap_github-face: "\f6da";
$igap_glass-flute: "\f2a5";
$igap_glass-mug: "\f2a6";
$igap_glass-stange: "\f2a7";
$igap_glass-tulip: "\f2a8";
$igap_glassdoor: "\f2a9";
$igap_glasses: "\f2aa";
$igap_gmail: "\f2ab";
$igap_gnome: "\f2ac";
$igap_gondola: "\f685";
$igap_google: "\f2ad";
$igap_google-cardboard: "\f2ae";
$igap_google-chrome: "\f2af";
$igap_google-circles: "\f2b0";
$igap_google-circles-communities: "\f2b1";
$igap_google-circles-extended: "\f2b2";
$igap_google-circles-group: "\f2b3";
$igap_google-controller: "\f2b4";
$igap_google-controller-off: "\f2b5";
$igap_google-drive: "\f2b6";
$igap_google-earth: "\f2b7";
$igap_google-glass: "\f2b8";
$igap_google-keep: "\f6db";
$igap_google-maps: "\f5f5";
$igap_google-nearby: "\f2b9";
$igap_google-pages: "\f2ba";
$igap_google-photos: "\f6dc";
$igap_google-physical-web: "\f2bb";
$igap_google-play: "\f2bc";
$igap_google-plus: "\f2bd";
$igap_google-plus-box: "\f2be";
$igap_google-translate: "\f2bf";
$igap_google-wallet: "\f2c0";
$igap_gradient: "\f69f";
$igap_grease-pencil: "\f648";
$igap_grid: "\f2c1";
$igap_grid-large: "\f757";
$igap_grid-off: "\f2c2";
$igap_group: "\f2c3";
$igap_guitar-acoustic: "\f770";
$igap_guitar-electric: "\f2c4";
$igap_guitar-pick: "\f2c5";
$igap_guitar-pick-outline: "\f2c6";
$igap_hackernews: "\f624";
$igap_hamburger: "\f684";
$igap_hand-pointing-right: "\f2c7";
$igap_hanger: "\f2c8";
$igap_hangouts: "\f2c9";
$igap_harddisk: "\f2ca";
$igap_headphones: "\f2cb";
$igap_headphones-box: "\f2cc";
$igap_headphones-settings: "\f2cd";
$igap_headset: "\f2ce";
$igap_headset-dock: "\f2cf";
$igap_headset-off: "\f2d0";
$igap_heart: "\f2d1";
$igap_heart-box: "\f2d2";
$igap_heart-box-outline: "\f2d3";
$igap_heart-broken: "\f2d4";
$igap_heart-half: "\f6de";
$igap_heart-half-full: "\f6dd";
$igap_heart-half-outline: "\f6df";
$igap_heart-off: "\f758";
$igap_heart-outline: "\f2d5";
$igap_heart-pulse: "\f5f6";
$igap_help: "\f2d6";
$igap_help-box: "\f78a";
$igap_help-circle: "\f2d7";
$igap_help-circle-outline: "\f625";
$igap_help-network: "\f6f4";
$igap_hexagon: "\f2d8";
$igap_hexagon-multiple: "\f6e0";
$igap_hexagon-outline: "\f2d9";
$igap_highway: "\f5f7";
$igap_history: "\f2da";
$igap_hololens: "\f2db";
$igap_home2: "\f2dc";
$igap_home-map-marker: "\f5f8";
$igap_home-modern: "\f2dd";
$igap_home-outline: "\f6a0";
$igap_home-variant: "\f2de";
$igap_hook: "\f6e1";
$igap_hook-off: "\f6e2";
$igap_hops: "\f2df";
$igap_hospital: "\f2e0";
$igap_hospital-building: "\f2e1";
$igap_hospital-marker: "\f2e2";
$igap_hotel: "\f2e3";
$igap_houzz: "\f2e4";
$igap_houzz-box: "\f2e5";
$igap_human: "\f2e6";
$igap_human-child: "\f2e7";
$igap_human-female: "\f649";
$igap_human-greeting: "\f64a";
$igap_human-handsdown: "\f64b";
$igap_human-handsup: "\f64c";
$igap_human-male: "\f64d";
$igap_human-male-female: "\f2e8";
$igap_human-pregnant: "\f5cf";
$igap_humble-bundle: "\f743";
$igap_image2: "\f2e9";
$igap_image-album: "\f2ea";
$igap_image-area: "\f2eb";
$igap_image-area-close: "\f2ec";
$igap_image-broken: "\f2ed";
$igap_image-broken-variant: "\f2ee";
$igap_image-filter: "\f2ef";
$igap_image-filter-black-white: "\f2f0";
$igap_image-filter-center-focus: "\f2f1";
$igap_image-filter-center-focus-weak: "\f2f2";
$igap_image-filter-drama: "\f2f3";
$igap_image-filter-frames: "\f2f4";
$igap_image-filter-hdr: "\f2f5";
$igap_image-filter-none: "\f2f6";
$igap_image-filter-tilt-shift: "\f2f7";
$igap_image-filter-vintage: "\f2f8";
$igap_image-multiple: "\f2f9";
$igap_import: "\f2fa";
$igap_inbox: "\f686";
$igap_inbox-arrow-down: "\f2fb";
$igap_inbox-arrow-up: "\f3d1";
$igap_incognito: "\f5f9";
$igap_infinity: "\f6e3";
$igap_information: "\f2fc";
$igap_information-outline: "\f2fd";
$igap_information-variant: "\f64e";
$igap_instagram: "\f2fe";
$igap_instapaper: "\f2ff";
$igap_internet-explorer: "\f300";
$igap_invert-colors: "\f301";
$igap_itunes: "\f676";
$igap_jeepney: "\f302";
$igap_jira: "\f303";
$igap_jsfiddle: "\f304";
$igap_json: "\f626";
$igap_keg: "\f305";
$igap_kettle: "\f5fa";
$igap_key: "\f306";
$igap_key-change: "\f307";
$igap_key-minus: "\f308";
$igap_key-plus: "\f309";
$igap_key-remove: "\f30a";
$igap_key-variant: "\f30b";
$igap_keyboard: "\f30c";
$igap_keyboard-backspace: "\f30d";
$igap_keyboard-caps: "\f30e";
$igap_keyboard-close: "\f30f";
$igap_keyboard-off: "\f310";
$igap_keyboard-return: "\f311";
$igap_keyboard-tab: "\f312";
$igap_keyboard-variant: "\f313";
$igap_kickstarter: "\f744";
$igap_kodi: "\f314";
$igap_label: "\f315";
$igap_label-outline: "\f316";
$igap_lambda: "\f627";
$igap_lamp: "\f6b4";
$igap_lan: "\f317";
$igap_lan-connect: "\f318";
$igap_lan-disconnect: "\f319";
$igap_lan-pending: "\f31a";
$igap_language-c: "\f671";
$igap_language-cpp: "\f672";
$igap_language-csharp: "\f31b";
$igap_language-css3: "\f31c";
$igap_language-html5: "\f31d";
$igap_language-javascript: "\f31e";
$igap_language-php: "\f31f";
$igap_language-python: "\f320";
$igap_language-python-text: "\f321";
$igap_language-swift: "\f6e4";
$igap_language-typescript: "\f6e5";
$igap_laptop: "\f322";
$igap_laptop-chromebook: "\f323";
$igap_laptop-mac: "\f324";
$igap_laptop-off: "\f6e6";
$igap_laptop-windows: "\f325";
$igap_lastfm: "\f326";
$igap_launch: "\f327";
$igap_layers: "\f328";
$igap_layers-off: "\f329";
$igap_lead-pencil: "\f64f";
$igap_leaf: "\f32a";
$igap_led-off: "\f32b";
$igap_led-on: "\f32c";
$igap_led-outline: "\f32d";
$igap_led-variant-off: "\f32e";
$igap_led-variant-on: "\f32f";
$igap_led-variant-outline: "\f330";
$igap_library: "\f331";
$igap_library-books: "\f332";
$igap_library-music: "\f333";
$igap_library-plus: "\f334";
$igap_lightbulb: "\f335";
$igap_lightbulb-on: "\f6e7";
$igap_lightbulb-on-outline: "\f6e8";
$igap_lightbulb-outline: "\f336";
$igap_link: "\f337";
$igap_link-off: "\f338";
$igap_link-variant: "\f339";
$igap_link-variant-off: "\f33a";
$igap_linkedin: "\f33b";
$igap_linkedin-box: "\f33c";
$igap_linux: "\f33d";
$igap_loading: "\f771";
$igap_lock: "\f33e";
$igap_lock-open: "\f33f";
$igap_lock-open-outline: "\f340";
$igap_lock-outline: "\f341";
$igap_lock-pattern: "\f6e9";
$igap_lock-plus: "\f5fb";
$igap_lock-reset: "\f772";
$igap_login: "\f342";
$igap_login-variant: "\f5fc";
$igap_logout: "\f343";
$igap_logout-variant: "\f5fd";
$igap_looks: "\f344";
$igap_loop: "\f6ea";
$igap_loupe: "\f345";
$igap_lumx: "\f346";
$igap_magnet: "\f347";
$igap_magnet-on: "\f348";
$igap_magnify: "\f349";
$igap_magnify-minus: "\f34a";
$igap_magnify-minus-outline: "\f6eb";
$igap_magnify-plus: "\f34b";
$igap_magnify-plus-outline: "\f6ec";
$igap_mail-ru: "\f34c";
$igap_mailbox: "\f6ed";
$igap_map: "\f34d";
$igap_map-marker: "\f34e";
$igap_map-marker-circle: "\f34f";
$igap_map-marker-minus: "\f650";
$igap_map-marker-multiple: "\f350";
$igap_map-marker-off: "\f351";
$igap_map-marker-plus: "\f651";
$igap_map-marker-radius: "\f352";
$igap_margin: "\f353";
$igap_markdown: "\f354";
$igap_marker: "\f652";
$igap_marker-check: "\f355";
$igap_martini: "\f356";
$igap_material-ui: "\f357";
$igap_math-compass: "\f358";
$igap_matrix: "\f628";
$igap_maxcdn: "\f359";
$igap_medical-bag: "\f6ee";
$igap_medium: "\f35a";
$igap_memory: "\f35b";
$igap_menu: "\f35c";
$igap_menu-down: "\f35d";
$igap_menu-down-outline: "\f6b5";
$igap_menu-left: "\f35e";
$igap_menu-right: "\f35f";
$igap_menu-up: "\f360";
$igap_menu-up-outline: "\f6b6";
$igap_message: "\f361";
$igap_message-alert: "\f362";
$igap_message-bulleted: "\f6a1";
$igap_message-bulleted-off: "\f6a2";
$igap_message-draw: "\f363";
$igap_message-image: "\f364";
$igap_message-outline: "\f365";
$igap_message-plus: "\f653";
$igap_message-processing: "\f366";
$igap_message-reply: "\f367";
$igap_message-reply-text: "\f368";
$igap_message-settings: "\f6ef";
$igap_message-settings-variant: "\f6f0";
$igap_message-text: "\f369";
$igap_message-text-outline: "\f36a";
$igap_message-video: "\f36b";
$igap_meteor: "\f629";
$igap_microphone: "\f36c";
$igap_microphone-off: "\f36d";
$igap_microphone-outline: "\f36e";
$igap_microphone-settings: "\f36f";
$igap_microphone-variant: "\f370";
$igap_microphone-variant-off: "\f371";
$igap_microscope: "\f654";
$igap_microsoft: "\f372";
$igap_minecraft: "\f373";
$igap_minus: "\f374";
$igap_minus-box: "\f375";
$igap_minus-box-outline: "\f6f1";
$igap_minus-circle: "\f376";
$igap_minus-circle-outline: "\f377";
$igap_minus-network: "\f378";
$igap_mixcloud: "\f62a";
$igap_monitor: "\f379";
$igap_monitor-multiple: "\f37a";
$igap_more: "\f37b";
$igap_motorbike: "\f37c";
$igap_mouse: "\f37d";
$igap_mouse-off: "\f37e";
$igap_mouse-variant: "\f37f";
$igap_mouse-variant-off: "\f380";
$igap_move-resize: "\f655";
$igap_move-resize-variant: "\f656";
$igap_movie: "\f381";
$igap_multiplication: "\f382";
$igap_multiplication-box: "\f383";
$igap_music2: "\f759";
$igap_music-box: "\f384";
$igap_music-box-outline: "\f385";
$igap_music-circle: "\f386";
$igap_music-note: "\f387";
$igap_music-note-bluetooth: "\f5fe";
$igap_music-note-bluetooth-off: "\f5ff";
$igap_music-note-eighth: "\f388";
$igap_music-note-half: "\f389";
$igap_music-note-off: "\f38a";
$igap_music-note-quarter: "\f38b";
$igap_music-note-sixteenth: "\f38c";
$igap_music-note-whole: "\f38d";
$igap_music-off: "\f75a";
$igap_nature: "\f38e";
$igap_nature-people: "\f38f";
$igap_navigation: "\f390";
$igap_near-me: "\f5cd";
$igap_needle: "\f391";
$igap_nest-protect: "\f392";
$igap_nest-thermostat: "\f393";
$igap_netflix: "\f745";
$igap_network: "\f6f2";
$igap_new-box: "\f394";
$igap_newspaper: "\f395";
$igap_nfc: "\f396";
$igap_nfc-tap: "\f397";
$igap_nfc-variant: "\f398";
$igap_ninja: "\f773";
$igap_nodejs: "\f399";
$igap_note: "\f39a";
$igap_note-multiple: "\f6b7";
$igap_note-multiple-outline: "\f6b8";
$igap_note-outline: "\f39b";
$igap_note-plus: "\f39c";
$igap_note-plus-outline: "\f39d";
$igap_note-text: "\f39e";
$igap_notification-clear-all: "\f39f";
$igap_npm: "\f6f6";
$igap_nuke: "\f6a3";
$igap_numeric: "\f3a0";
$igap_numeric-0-box: "\f3a1";
$igap_numeric-0-box-multiple-outline: "\f3a2";
$igap_numeric-0-box-outline: "\f3a3";
$igap_numeric-1-box: "\f3a4";
$igap_numeric-1-box-multiple-outline: "\f3a5";
$igap_numeric-1-box-outline: "\f3a6";
$igap_numeric-2-box: "\f3a7";
$igap_numeric-2-box-multiple-outline: "\f3a8";
$igap_numeric-2-box-outline: "\f3a9";
$igap_numeric-3-box: "\f3aa";
$igap_numeric-3-box-multiple-outline: "\f3ab";
$igap_numeric-3-box-outline: "\f3ac";
$igap_numeric-4-box: "\f3ad";
$igap_numeric-4-box-multiple-outline: "\f3ae";
$igap_numeric-4-box-outline: "\f3af";
$igap_numeric-5-box: "\f3b0";
$igap_numeric-5-box-multiple-outline: "\f3b1";
$igap_numeric-5-box-outline: "\f3b2";
$igap_numeric-6-box: "\f3b3";
$igap_numeric-6-box-multiple-outline: "\f3b4";
$igap_numeric-6-box-outline: "\f3b5";
$igap_numeric-7-box: "\f3b6";
$igap_numeric-7-box-multiple-outline: "\f3b7";
$igap_numeric-7-box-outline: "\f3b8";
$igap_numeric-8-box: "\f3b9";
$igap_numeric-8-box-multiple-outline: "\f3ba";
$igap_numeric-8-box-outline: "\f3bb";
$igap_numeric-9-box: "\f3bc";
$igap_numeric-9-box-multiple-outline: "\f3bd";
$igap_numeric-9-box-outline: "\f3be";
$igap_numeric-9-plus-box: "\f3bf";
$igap_numeric-9-plus-box-multiple-outline: "\f3c0";
$igap_numeric-9-plus-box-outline: "\f3c1";
$igap_nut: "\f6f7";
$igap_nutrition: "\f3c2";
$igap_oar: "\f67b";
$igap_octagon: "\f3c3";
$igap_octagon-outline: "\f3c4";
$igap_octagram: "\f6f8";
$igap_octagram-outline: "\f774";
$igap_odnoklassniki: "\f3c5";
$igap_office: "\f3c6";
$igap_oil: "\f3c7";
$igap_oil-temperature: "\f3c8";
$igap_omega: "\f3c9";
$igap_onedrive: "\f3ca";
$igap_onenote: "\f746";
$igap_opacity: "\f5cc";
$igap_open-in-app: "\f3cb";
$igap_open-in-new: "\f3cc";
$igap_openid: "\f3cd";
$igap_opera: "\f3ce";
$igap_orbit: "\f018";
$igap_ornament: "\f3cf";
$igap_ornament-variant: "\f3d0";
$igap_owl: "\f3d2";
$igap_package: "\f3d3";
$igap_package-down: "\f3d4";
$igap_package-up: "\f3d5";
$igap_package-variant: "\f3d6";
$igap_package-variant-closed: "\f3d7";
$igap_page-first: "\f600";
$igap_page-last: "\f601";
$igap_page-layout-body: "\f6f9";
$igap_page-layout-footer: "\f6fa";
$igap_page-layout-header: "\f6fb";
$igap_page-layout-sidebar-left: "\f6fc";
$igap_page-layout-sidebar-right: "\f6fd";
$igap_palette: "\f3d8";
$igap_palette-advanced: "\f3d9";
$igap_panda: "\f3da";
$igap_pandora: "\f3db";
$igap_panorama: "\f3dc";
$igap_panorama-fisheye: "\f3dd";
$igap_panorama-horizontal: "\f3de";
$igap_panorama-vertical: "\f3df";
$igap_panorama-wide-angle: "\f3e0";
$igap_paper-cut-vertical: "\f3e1";
$igap_paperclip: "\f3e2";
$igap_parking: "\f3e3";
$igap_pause: "\f3e4";
$igap_pause-circle: "\f3e5";
$igap_pause-circle-outline: "\f3e6";
$igap_pause-octagon: "\f3e7";
$igap_pause-octagon-outline: "\f3e8";
$igap_paw: "\f3e9";
$igap_paw-off: "\f657";
$igap_pen: "\f3ea";
$igap_pencil: "\f3eb";
$igap_pencil-box: "\f3ec";
$igap_pencil-box-outline: "\f3ed";
$igap_pencil-circle: "\f6fe";
$igap_pencil-circle-outline: "\f775";
$igap_pencil-lock: "\f3ee";
$igap_pencil-off: "\f3ef";
$igap_pentagon: "\f6ff";
$igap_pentagon-outline: "\f700";
$igap_percent: "\f3f0";
$igap_periscope: "\f747";
$igap_pharmacy: "\f3f1";
$igap_phone: "\f3f2";
$igap_phone-bluetooth: "\f3f3";
$igap_phone-classic: "\f602";
$igap_phone-forward: "\f3f4";
$igap_phone-hangup: "\f3f5";
$igap_phone-in-talk: "\f3f6";
$igap_phone-incoming: "\f3f7";
$igap_phone-locked: "\f3f8";
$igap_phone-log: "\f3f9";
$igap_phone-minus: "\f658";
$igap_phone-missed: "\f3fa";
$igap_phone-outgoing: "\f3fb";
$igap_phone-paused: "\f3fc";
$igap_phone-plus: "\f659";
$igap_phone-settings: "\f3fd";
$igap_phone-voip: "\f3fe";
$igap_pi: "\f3ff";
$igap_pi-box: "\f400";
$igap_piano: "\f67c";
$igap_pig: "\f401";
$igap_pill: "\f402";
$igap_pillar: "\f701";
$igap_pin2: "\f403";
$igap_pin-off: "\f404";
$igap_pine-tree: "\f405";
$igap_pine-tree-box: "\f406";
$igap_pinterest: "\f407";
$igap_pinterest-box: "\f408";
$igap_pistol: "\f702";
$igap_pizza: "\f409";
$igap_plane-shield: "\f6ba";
$igap_play2: "\f40a";
$igap_play-box-outline: "\f40b";
$igap_play-circle: "\f40c";
$igap_play-circle-outline: "\f40d";
$igap_play-pause: "\f40e";
$igap_play-protected-content: "\f40f";
$igap_playlist-check: "\f5c7";
$igap_playlist-minus: "\f410";
$igap_playlist-play: "\f411";
$igap_playlist-plus: "\f412";
$igap_playlist-remove: "\f413";
$igap_playstation: "\f414";
$igap_plex: "\f6b9";
$igap_plus: "\f415";
$igap_plus-box: "\f416";
$igap_plus-box-outline: "\f703";
$igap_plus-circle: "\f417";
$igap_plus-circle-multiple-outline: "\f418";
$igap_plus-circle-outline: "\f419";
$igap_plus-network: "\f41a";
$igap_plus-one: "\f41b";
$igap_plus-outline: "\f704";
$igap_pocket: "\f41c";
$igap_pokeball: "\f41d";
$igap_polaroid: "\f41e";
$igap_poll: "\f41f";
$igap_poll-box: "\f420";
$igap_polymer: "\f421";
$igap_pool: "\f606";
$igap_popcorn: "\f422";
$igap_pot: "\f65a";
$igap_pot-mix: "\f65b";
$igap_pound: "\f423";
$igap_pound-box: "\f424";
$igap_power: "\f425";
$igap_power-plug: "\f6a4";
$igap_power-plug-off: "\f6a5";
$igap_power-settings: "\f426";
$igap_power-socket: "\f427";
$igap_prescription: "\f705";
$igap_presentation: "\f428";
$igap_presentation-play: "\f429";
$igap_printer: "\f42a";
$igap_printer-3d: "\f42b";
$igap_printer-alert: "\f42c";
$igap_printer-settings: "\f706";
$igap_priority-high: "\f603";
$igap_priority-low: "\f604";
$igap_professional-hexagon: "\f42d";
$igap_projector: "\f42e";
$igap_projector-screen: "\f42f";
$igap_publish: "\f6a6";
$igap_pulse: "\f430";
$igap_puzzle: "\f431";
$igap_qqchat: "\f605";
$igap_qrcode: "\f432";
$igap_qrcode-scan: "\f433";
$igap_quadcopter: "\f434";
$igap_quality-high: "\f435";
$igap_quicktime: "\f436";
$igap_radar: "\f437";
$igap_radiator: "\f438";
$igap_radio: "\f439";
$igap_radio-handheld: "\f43a";
$igap_radio-tower: "\f43b";
$igap_radioactive: "\f43c";
$igap_radiobox-blank: "\f43d";
$igap_radiobox-marked: "\f43e";
$igap_raspberrypi: "\f43f";
$igap_ray-end: "\f440";
$igap_ray-end-arrow: "\f441";
$igap_ray-start: "\f442";
$igap_ray-start-arrow: "\f443";
$igap_ray-start-end: "\f444";
$igap_ray-vertex: "\f445";
$igap_rdio: "\f446";
$igap_react: "\f707";
$igap_read: "\f447";
$igap_readability: "\f448";
$igap_receipt: "\f449";
$igap_record: "\f44a";
$igap_record-rec: "\f44b";
$igap_recycle: "\f44c";
$igap_reddit: "\f44d";
$igap_redo: "\f44e";
$igap_redo-variant: "\f44f";
$igap_refresh: "\f450";
$igap_regex: "\f451";
$igap_relative-scale: "\f452";
$igap_reload: "\f453";
$igap_remote: "\f454";
$igap_rename-box: "\f455";
$igap_reorder-horizontal: "\f687";
$igap_reorder-vertical: "\f688";
$igap_repeat: "\f456";
$igap_repeat-off: "\f457";
$igap_repeat-once: "\f458";
$igap_replay: "\f459";
$igap_reply2: "\f45a";
$igap_reply-all: "\f45b";
$igap_reproduction: "\f45c";
$igap_resize-bottom-right: "\f45d";
$igap_responsive: "\f45e";
$igap_restart: "\f708";
$igap_restore: "\f6a7";
$igap_rewind: "\f45f";
$igap_rewind-outline: "\f709";
$igap_rhombus: "\f70a";
$igap_rhombus-outline: "\f70b";
$igap_ribbon: "\f460";
$igap_road: "\f461";
$igap_road-variant: "\f462";
$igap_robot: "\f6a8";
$igap_rocket: "\f463";
$igap_roomba: "\f70c";
$igap_rotate-3d: "\f464";
$igap_rotate-left: "\f465";
$igap_rotate-left-variant: "\f466";
$igap_rotate-right: "\f467";
$igap_rotate-right-variant: "\f468";
$igap_rounded-corner: "\f607";
$igap_router-wireless: "\f469";
$igap_routes: "\f46a";
$igap_rowing: "\f608";
$igap_rss: "\f46b";
$igap_rss-box: "\f46c";
$igap_ruler: "\f46d";
$igap_run: "\f70d";
$igap_run-fast: "\f46e";
$igap_sale: "\f46f";
$igap_satellite: "\f470";
$igap_satellite-variant: "\f471";
$igap_saxophone: "\f609";
$igap_scale: "\f472";
$igap_scale-balance: "\f5d1";
$igap_scale-bathroom: "\f473";
$igap_scanner: "\f6aa";
$igap_school: "\f474";
$igap_screen-rotation: "\f475";
$igap_screen-rotation-lock: "\f476";
$igap_screwdriver: "\f477";
$igap_script: "\f478";
$igap_sd: "\f479";
$igap_seal: "\f47a";
$igap_search-web: "\f70e";
$igap_seat-flat: "\f47b";
$igap_seat-flat-angled: "\f47c";
$igap_seat-individual-suite: "\f47d";
$igap_seat-legroom-extra: "\f47e";
$igap_seat-legroom-normal: "\f47f";
$igap_seat-legroom-reduced: "\f480";
$igap_seat-recline-extra: "\f481";
$igap_seat-recline-normal: "\f482";
$igap_security: "\f483";
$igap_security-home: "\f689";
$igap_security-network: "\f484";
$igap_select: "\f485";
$igap_select-all: "\f486";
$igap_select-inverse: "\f487";
$igap_select-off: "\f488";
$igap_selection: "\f489";
$igap_selection-off: "\f776";
$igap_send: "\f48a";
$igap_serial-port: "\f65c";
$igap_server: "\f48b";
$igap_server-minus: "\f48c";
$igap_server-network: "\f48d";
$igap_server-network-off: "\f48e";
$igap_server-off: "\f48f";
$igap_server-plus: "\f490";
$igap_server-remove: "\f491";
$igap_server-security: "\f492";
$igap_set-all: "\f777";
$igap_set-center: "\f778";
$igap_set-center-right: "\f779";
$igap_set-left: "\f77a";
$igap_set-left-center: "\f77b";
$igap_set-left-right: "\f77c";
$igap_set-none: "\f77d";
$igap_set-right: "\f77e";
$igap_settings: "\f493";
$igap_settings-box: "\f494";
$igap_shape-circle-plus: "\f65d";
$igap_shape-plus: "\f495";
$igap_shape-polygon-plus: "\f65e";
$igap_shape-rectangle-plus: "\f65f";
$igap_shape-square-plus: "\f660";
$igap_share: "\f496";
$igap_share-variant: "\f497";
$igap_shield: "\f498";
$igap_shield-half-full: "\f77f";
$igap_shield-outline: "\f499";
$igap_shopping: "\f49a";
$igap_shopping-music: "\f49b";
$igap_shovel: "\f70f";
$igap_shovel-off: "\f710";
$igap_shredder: "\f49c";
$igap_shuffle: "\f49d";
$igap_shuffle-disabled: "\f49e";
$igap_shuffle-variant: "\f49f";
$igap_sigma: "\f4a0";
$igap_sigma-lower: "\f62b";
$igap_sign-caution: "\f4a1";
$igap_sign-direction: "\f780";
$igap_sign-text: "\f781";
$igap_signal: "\f4a2";
$igap_signal-2g: "\f711";
$igap_signal-3g: "\f712";
$igap_signal-4g: "\f713";
$igap_signal-hspa: "\f714";
$igap_signal-hspa-plus: "\f715";
$igap_signal-off: "\f782";
$igap_signal-variant: "\f60a";
$igap_silverware: "\f4a3";
$igap_silverware-fork: "\f4a4";
$igap_silverware-spoon: "\f4a5";
$igap_silverware-variant: "\f4a6";
$igap_sim: "\f4a7";
$igap_sim-alert: "\f4a8";
$igap_sim-off: "\f4a9";
$igap_sitemap: "\f4aa";
$igap_skip-backward: "\f4ab";
$igap_skip-forward: "\f4ac";
$igap_skip-next: "\f4ad";
$igap_skip-next-circle: "\f661";
$igap_skip-next-circle-outline: "\f662";
$igap_skip-previous: "\f4ae";
$igap_skip-previous-circle: "\f663";
$igap_skip-previous-circle-outline: "\f664";
$igap_skull: "\f68b";
$igap_skype: "\f4af";
$igap_skype-business: "\f4b0";
$igap_slack: "\f4b1";
$igap_sleep: "\f4b2";
$igap_sleep-off: "\f4b3";
$igap_smoking: "\f4b4";
$igap_smoking-off: "\f4b5";
$igap_snapchat: "\f4b6";
$igap_snowflake: "\f716";
$igap_snowman: "\f4b7";
$igap_soccer: "\f4b8";
$igap_sofa: "\f4b9";
$igap_solid: "\f68c";
$igap_sort: "\f4ba";
$igap_sort-alphabetical: "\f4bb";
$igap_sort-ascending: "\f4bc";
$igap_sort-descending: "\f4bd";
$igap_sort-numeric: "\f4be";
$igap_sort-variant: "\f4bf";
$igap_soundcloud: "\f4c0";
$igap_source-branch: "\f62c";
$igap_source-commit: "\f717";
$igap_source-commit-end: "\f718";
$igap_source-commit-end-local: "\f719";
$igap_source-commit-local: "\f71a";
$igap_source-commit-next-local: "\f71b";
$igap_source-commit-start: "\f71c";
$igap_source-commit-start-next-local: "\f71d";
$igap_source-fork: "\f4c1";
$igap_source-merge: "\f62d";
$igap_source-pull: "\f4c2";
$igap_speaker: "\f4c3";
$igap_speaker-off: "\f4c4";
$igap_speaker-wireless: "\f71e";
$igap_speedometer: "\f4c5";
$igap_spellcheck: "\f4c6";
$igap_spotify: "\f4c7";
$igap_spotlight: "\f4c8";
$igap_spotlight-beam: "\f4c9";
$igap_spray: "\f665";
$igap_square: "\f763";
$igap_square-inc: "\f4ca";
$igap_square-inc-cash: "\f4cb";
$igap_square-outline: "\f762";
$igap_square-root: "\f783";
$igap_stackexchange: "\f60b";
$igap_stackoverflow: "\f4cc";
$igap_stadium: "\f71f";
$igap_stairs: "\f4cd";
$igap_star: "\f4ce";
$igap_star-circle: "\f4cf";
$igap_star-half: "\f4d0";
$igap_star-off: "\f4d1";
$igap_star-outline: "\f4d2";
$igap_steam: "\f4d3";
$igap_steering: "\f4d4";
$igap_step-backward: "\f4d5";
$igap_step-backward-2: "\f4d6";
$igap_step-forward: "\f4d7";
$igap_step-forward-2: "\f4d8";
$igap_stethoscope: "\f4d9";
$igap_sticker: "\f5d0";
$igap_sticker-emoji: "\f784";
$igap_stocking: "\f4da";
$igap_stop: "\f4db";
$igap_stop-circle: "\f666";
$igap_stop-circle-outline: "\f667";
$igap_store: "\f4dc";
$igap_store-24-hour: "\f4dd";
$igap_stove: "\f4de";
$igap_subdirectory-arrow-left: "\f60c";
$igap_subdirectory-arrow-right: "\f60d";
$igap_subway: "\f6ab";
$igap_subway-variant: "\f4df";
$igap_summit: "\f785";
$igap_sunglasses: "\f4e0";
$igap_surround-sound: "\f5c5";
$igap_svg: "\f720";
$igap_swap-horizontal: "\f4e1";
$igap_swap-vertical: "\f4e2";
$igap_swim: "\f4e3";
$igap_switch: "\f4e4";
$igap_sword: "\f4e5";
$igap_sword-cross: "\f786";
$igap_sync: "\f4e6";
$igap_sync-alert: "\f4e7";
$igap_sync-off: "\f4e8";
$igap_tab: "\f4e9";
$igap_tab-plus: "\f75b";
$igap_tab-unselected: "\f4ea";
$igap_table: "\f4eb";
$igap_table-column-plus-after: "\f4ec";
$igap_table-column-plus-before: "\f4ed";
$igap_table-column-remove: "\f4ee";
$igap_table-column-width: "\f4ef";
$igap_table-edit: "\f4f0";
$igap_table-large: "\f4f1";
$igap_table-row-height: "\f4f2";
$igap_table-row-plus-after: "\f4f3";
$igap_table-row-plus-before: "\f4f4";
$igap_table-row-remove: "\f4f5";
$igap_tablet: "\f4f6";
$igap_tablet-android: "\f4f7";
$igap_tablet-ipad: "\f4f8";
$igap_taco: "\f761";
$igap_tag: "\f4f9";
$igap_tag-faces: "\f4fa";
$igap_tag-heart: "\f68a";
$igap_tag-multiple: "\f4fb";
$igap_tag-outline: "\f4fc";
$igap_tag-plus: "\f721";
$igap_tag-remove: "\f722";
$igap_tag-text-outline: "\f4fd";
$igap_target: "\f4fe";
$igap_taxi: "\f4ff";
$igap_teamviewer: "\f500";
$igap_telegram: "\f501";
$igap_television: "\f502";
$igap_television-guide: "\f503";
$igap_temperature-celsius: "\f504";
$igap_temperature-fahrenheit: "\f505";
$igap_temperature-kelvin: "\f506";
$igap_tennis: "\f507";
$igap_tent: "\f508";
$igap_terrain: "\f509";
$igap_test-tube: "\f668";
$igap_text-shadow: "\f669";
$igap_text-to-speech: "\f50a";
$igap_text-to-speech-off: "\f50b";
$igap_textbox: "\f60e";
$igap_texture: "\f50c";
$igap_theater: "\f50d";
$igap_theme-light-dark: "\f50e";
$igap_thermometer: "\f50f";
$igap_thermometer-lines: "\f510";
$igap_thumb-down: "\f511";
$igap_thumb-down-outline: "\f512";
$igap_thumb-up: "\f513";
$igap_thumb-up-outline: "\f514";
$igap_thumbs-up-down: "\f515";
$igap_ticket: "\f516";
$igap_ticket-account: "\f517";
$igap_ticket-confirmation: "\f518";
$igap_ticket-percent: "\f723";
$igap_tie: "\f519";
$igap_tilde: "\f724";
$igap_timelapse: "\f51a";
$igap_timer: "\f51b";
$igap_timer-10: "\f51c";
$igap_timer-3: "\f51d";
$igap_timer-off: "\f51e";
$igap_timer-sand: "\f51f";
$igap_timer-sand-empty: "\f6ac";
$igap_timer-sand-full: "\f78b";
$igap_timetable: "\f520";
$igap_toggle-switch: "\f521";
$igap_toggle-switch-off: "\f522";
$igap_tooltip: "\f523";
$igap_tooltip-edit: "\f524";
$igap_tooltip-image: "\f525";
$igap_tooltip-outline: "\f526";
$igap_tooltip-outline-plus: "\f527";
$igap_tooltip-text: "\f528";
$igap_tooth: "\f529";
$igap_tor: "\f52a";
$igap_tower-beach: "\f680";
$igap_tower-fire: "\f681";
$igap_traffic-light: "\f52b";
$igap_train: "\f52c";
$igap_tram: "\f52d";
$igap_transcribe: "\f52e";
$igap_transcribe-close: "\f52f";
$igap_transfer: "\f530";
$igap_transit-transfer: "\f6ad";
$igap_translate: "\f5ca";
$igap_treasure-chest: "\f725";
$igap_tree: "\f531";
$igap_trello: "\f532";
$igap_trending-down: "\f533";
$igap_trending-neutral: "\f534";
$igap_trending-up: "\f535";
$igap_triangle: "\f536";
$igap_triangle-outline: "\f537";
$igap_trophy: "\f538";
$igap_trophy-award: "\f539";
$igap_trophy-outline: "\f53a";
$igap_trophy-variant: "\f53b";
$igap_trophy-variant-outline: "\f53c";
$igap_truck: "\f53d";
$igap_truck-delivery: "\f53e";
$igap_truck-fast: "\f787";
$igap_truck-trailer: "\f726";
$igap_tshirt-crew: "\f53f";
$igap_tshirt-v: "\f540";
$igap_tumblr: "\f541";
$igap_tumblr-reblog: "\f542";
$igap_tune: "\f62e";
$igap_tune-vertical: "\f66a";
$igap_twitch: "\f543";
$igap_twitter: "\f544";
$igap_twitter-box: "\f545";
$igap_twitter-circle: "\f546";
$igap_twitter-retweet: "\f547";
$igap_uber: "\f748";
$igap_ubuntu: "\f548";
$igap_umbraco: "\f549";
$igap_umbrella: "\f54a";
$igap_umbrella-outline: "\f54b";
$igap_undo: "\f54c";
$igap_undo-variant: "\f54d";
$igap_unfold-less-horizontal: "\f54e";
$igap_unfold-less-vertical: "\f75f";
$igap_unfold-more-horizontal: "\f54f";
$igap_unfold-more-vertical: "\f760";
$igap_ungroup: "\f550";
$igap_unity: "\f6ae";
$igap_untappd: "\f551";
$igap_update: "\f6af";
$igap_upload: "\f552";
$igap_upload-network: "\f6f5";
$igap_usb: "\f553";
$igap_vector-arrange-above: "\f554";
$igap_vector-arrange-below: "\f555";
$igap_vector-circle: "\f556";
$igap_vector-circle-variant: "\f557";
$igap_vector-combine: "\f558";
$igap_vector-curve: "\f559";
$igap_vector-difference: "\f55a";
$igap_vector-difference-ab: "\f55b";
$igap_vector-difference-ba: "\f55c";
$igap_vector-intersection: "\f55d";
$igap_vector-line: "\f55e";
$igap_vector-point: "\f55f";
$igap_vector-polygon: "\f560";
$igap_vector-polyline: "\f561";
$igap_vector-radius: "\f749";
$igap_vector-rectangle: "\f5c6";
$igap_vector-selection: "\f562";
$igap_vector-square: "\f001";
$igap_vector-triangle: "\f563";
$igap_vector-union: "\f564";
$igap_verified: "\f565";
$igap_vibrate: "\f566";
$igap_video: "\f567";
$igap_video-off: "\f568";
$igap_video-switch: "\f569";
$igap_view-agenda: "\f56a";
$igap_view-array: "\f56b";
$igap_view-carousel: "\f56c";
$igap_view-column: "\f56d";
$igap_view-dashboard: "\f56e";
$igap_view-day: "\f56f";
$igap_view-grid: "\f570";
$igap_view-headline: "\f571";
$igap_view-list: "\f572";
$igap_view-module: "\f573";
$igap_view-parallel: "\f727";
$igap_view-quilt: "\f574";
$igap_view-sequential: "\f728";
$igap_view-stream: "\f575";
$igap_view-week: "\f576";
$igap_vimeo: "\f577";
$igap_vine: "\f578";
$igap_violin: "\f60f";
$igap_visualstudio: "\f610";
$igap_vk: "\f579";
$igap_vk-box: "\f57a";
$igap_vk-circle: "\f57b";
$igap_vlc: "\f57c";
$igap_voice: "\f5cb";
$igap_voicemail: "\f57d";
$igap_volume-high: "\f57e";
$igap_volume-low: "\f57f";
$igap_volume-medium: "\f580";
$igap_volume-minus: "\f75d";
$igap_volume-mute: "\f75e";
$igap_volume-off: "\f581";
$igap_volume-plus: "\f75c";
$igap_vpn: "\f582";
$igap_walk: "\f583";
$igap_wallet2: "\f584";
$igap_wallet-giftcard: "\f585";
$igap_wallet-membership: "\f586";
$igap_wallet-travel: "\f587";
$igap_wan: "\f588";
$igap_washing-machine: "\f729";
$igap_watch: "\f589";
$igap_watch-export: "\f58a";
$igap_watch-import: "\f58b";
$igap_watch-vibrate: "\f6b0";
$igap_water: "\f58c";
$igap_water-off: "\f58d";
$igap_water-percent: "\f58e";
$igap_water-pump: "\f58f";
$igap_watermark: "\f612";
$igap_waves: "\f78c";
$igap_weather-cloudy: "\f590";
$igap_weather-fog: "\f591";
$igap_weather-hail: "\f592";
$igap_weather-lightning: "\f593";
$igap_weather-lightning-rainy: "\f67d";
$igap_weather-night: "\f594";
$igap_weather-partlycloudy: "\f595";
$igap_weather-pouring: "\f596";
$igap_weather-rainy: "\f597";
$igap_weather-snowy: "\f598";
$igap_weather-snowy-rainy: "\f67e";
$igap_weather-sunny: "\f599";
$igap_weather-sunset: "\f59a";
$igap_weather-sunset-down: "\f59b";
$igap_weather-sunset-up: "\f59c";
$igap_weather-windy: "\f59d";
$igap_weather-windy-variant: "\f59e";
$igap_web: "\f59f";
$igap_webcam: "\f5a0";
$igap_webhook: "\f62f";
$igap_webpack: "\f72a";
$igap_wechat: "\f611";
$igap_weight: "\f5a1";
$igap_weight-kilogram: "\f5a2";
$igap_whatsapp: "\f5a3";
$igap_wheelchair-accessibility: "\f5a4";
$igap_white-balance-auto: "\f5a5";
$igap_white-balance-incandescent: "\f5a6";
$igap_white-balance-iridescent: "\f5a7";
$igap_white-balance-sunny: "\f5a8";
$igap_widgets: "\f72b";
$igap_wifi: "\f5a9";
$igap_wifi-off: "\f5aa";
$igap_wii: "\f5ab";
$igap_wiiu: "\f72c";
$igap_wikipedia: "\f5ac";
$igap_window-close: "\f5ad";
$igap_window-closed: "\f5ae";
$igap_window-maximize: "\f5af";
$igap_window-minimize: "\f5b0";
$igap_window-open: "\f5b1";
$igap_window-restore: "\f5b2";
$igap_windows: "\f5b3";
$igap_wordpress: "\f5b4";
$igap_worker: "\f5b5";
$igap_wrap: "\f5b6";
$igap_wrench: "\f5b7";
$igap_wunderlist: "\f5b8";
$igap_xaml: "\f673";
$igap_xbox: "\f5b9";
$igap_xbox-controller: "\f5ba";
$igap_xbox-controller-battery-alert: "\f74a";
$igap_xbox-controller-battery-empty: "\f74b";
$igap_xbox-controller-battery-full: "\f74c";
$igap_xbox-controller-battery-low: "\f74d";
$igap_xbox-controller-battery-medium: "\f74e";
$igap_xbox-controller-battery-unknown: "\f74f";
$igap_xbox-controller-off: "\f5bb";
$igap_xda: "\f5bc";
$igap_xing: "\f5bd";
$igap_xing-box: "\f5be";
$igap_xing-circle: "\f5bf";
$igap_xml: "\f5c0";
$igap_yammer: "\f788";
$igap_yeast: "\f5c1";
$igap_yelp: "\f5c2";
$igap_yin-yang: "\f67f";
$igap_youtube-play: "\f5c3";
$igap_zip-box: "\f5c4";

